<svg width="780" height="1122" viewbox="0 0 780 1122">
    <mask x="0" y="0" id="myMask">
        <image x="0" y="0" href="../../../../assets/gfx/img/disolve_animation/burning_paper1.png" width="780" height="1122"/>
    </mask>

    <image x="0" y="0" href="../../../../assets/gfx/img/page.png" width="780" height="1122" mask="url(#myMask)"/>

    <text x="262" y="46" class="unitology">Software University</text>
    <text x="198" y="255" font="48px" class="unitology">CERTIFICATE</text>
    
    <foreignObject x="20" y="10" width="740" height="1102" mask="url(#myMask)">
        {{!-- <p>{{text}}</p> --}}
    </foreignObject>
</svg>