// @import "../../../mixins/_fonts.scss";

#mainPage {
    color: rgba(255, 255, 255, .95);
    
    h2 {
        font-family: "SpectralSC-Regular";
        font-weight: normal;
        // @include fontSpectralSC;
    }

    .topSection {
        display: flex;

        .topSubSection {
            width: 38%;
        }
    }
}