// @import "../../../mixins/_fonts.scss";

#mainPage {
    color: rgba(255, 255, 255, .95);
    
    h2 {
        font-family: "SpectralSC-Regular";
        font-weight: normal;
        // @include fontSpectralSC;
    }

    .topSection {
        display: flex;

        .topSubSection {
            #imageContainer {
                position: relative;
                height: 280px;
                display: flex;
                overflow: hidden;

                #mainImage,
                #skullImage, {
                }
                
                #mainImage {
                    height: 100%;
                    position: relative;
                    opacity: 1;
                    z-index: 1;
                }

                #skullImage {
                    position: absolute;
                    height: 73%;
                    left: -2px;
                    top: 27px;
                    transform: rotateZ(-4deg);
                    opacity: 1;
                }
            }
        }
    }
}