<button id="langsToggle">
    <svg width="93px" height="300px" viewBox="0 0 93 300">
        <polyline id="toggleArrow" points="80,13 13,150 80,287" fill="none" stroke="white" stroke-width="16" stroke-linecap="round"></polyline>
    </svg>
</button>

<div id="langsContainer">
    {{#each langs}}
        <button class="langButton">

            <svg viewBox="0 0 78 66" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <mask id="myMask">
                    <image x="0" y="0" width="78" height="66" href="../../../../assets/gfx/img/mask2.png"/>
                </mask>

                <image x="5%" y="6" width="90%" href="../../../../assets/gfx/icons/langs/{{@key}}.svg"  mask="url(#myMask)"/>
            </svg>

            <span class="langTitle">{{capialiseAll @key}}</span>
        </button>
    {{/each}}
</div>