<h2>Certificates</h2>

<div class="certificatesSection">
    {{#each sections}}
        <div class="rowWrapper">
            <h3>{{this.title}}</h3>

            <div class="certificatesRow">
                {{#each this.content}}
                    <div class="certificateSlot">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="466" height="640" viewBox="0 0 466 640">
                            <g fill="none" stroke="rgba(66, 66, 66, 1)" stroke-width="4">
                                <path id="line1" d="M 0,640" ></path>
                                <path id="line2" d="M 0,640" ></path>
                            </g>
                        </svg>
                        
                        <div class="certificateContainer">
                            <img class="thumb_b" src="../../../assets/certificates/img/{{this}}_b.png">
                            <img class="thumb_f" src="../../../assets/certificates/img/{{this}}_f.png">
                        </div>

                        <button class="zoomButton">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                                <g>
                                    <path d="m69.667 198.457c0-4.418 3.582-8 8-8h202.057c4.418 0 8 3.582 8 8s-3.582 8-8 8h-202.057c-4.418 0-8-3.582-8-8zm188.516 230.186h-180.516c-4.418 0-8 3.582-8 8s3.582 8 8 8h180.516c4.418 0 8-3.582 8-8s-3.582-8-8-8zm-180.516-281.733h145.047c4.418 0 8-3.582 8-8s-3.582-8-8-8h-145.047c-4.418 0-8 3.582-8 8s3.582 8 8 8zm429.435 338.719-20.477 21.104c-3.404 3.508-7.94 5.271-12.481 5.271-4.365 0-8.734-1.629-12.107-4.9l-53.024-51.453c-1.467 1.726-3.651 2.824-6.094 2.824h-45.527v45.525c0 4.418-3.582 8-8 8h-341.392c-4.418 0-8-3.582-8-8v-442.474c0-4.418 3.582-8 8-8h45.527v-45.526c0-4.418 3.582-8 8-8h286.079c2.122 0 4.156.843 5.657 2.343l55.312 55.312c1.5 1.501 2.343 3.535 2.343 5.657v206.364c8.522 15.729 13.366 33.729 13.366 52.839 0 21.231-5.98 41.091-16.339 57.989l22.644 22.219c2.184-1.011 4.572-1.577 7.056-1.615 4.67-.026 9.046 1.669 12.372 4.897l56.716 55.035c6.879 6.68 7.044 17.71.369 24.589zm-108.597-91.973c-2.148 2.578-4.408 5.059-6.776 7.433l19.889 19.518 7-7.215zm9.779-71.141c0-52.537-42.741-95.279-95.278-95.279s-95.278 42.742-95.278 95.279 42.741 95.278 95.278 95.278 95.278-42.741 95.278-95.278zm-106.205-213.676h27.998l-27.998-27.999zm53.527-53.527h27.998l-27.998-27.998zm-286.079-1.786h224.552c2.122 0 4.156.843 5.657 2.343l55.312 55.313c1.5 1.501 2.343 3.535 2.343 5.657v103.642c14.325 6.256 27.088 15.44 37.527 26.796v-175.965h-47.312c-4.418 0-8-3.582-8-8v-47.312h-270.079zm271.864 396.948v-20.355c-9.065 2.393-18.578 3.674-28.385 3.674-38.172 0-71.912-19.322-91.965-48.696h-143.374c-4.418 0-8-3.582-8-8s3.582-8 8-8h134.293c-6.162-13.313-9.772-28.038-10.19-43.547h-124.103c-4.418 0-8-3.582-8-8s3.582-8 8-8h124.82c1.836-15.747 6.97-30.498 14.695-43.547h-139.515c-4.418 0-8-3.582-8-8s3.582-8 8-8h150.999c20.423-23.721 50.656-38.768 84.34-38.768 9.807 0 19.319 1.281 28.385 3.674v-90.071h-47.312c-4.418 0-8-3.582-8-8v-47.312h-270.079v426.474h325.391zm53.527-8v-15.837l-15.313-15.027c-6.84 5.126-14.29 9.477-22.215 12.938v17.926zm100.671 30.048-56.716-55.035c-.322-.313-.697-.381-.964-.381-.008 0-.016 0-.023 0-.268.004-.655.079-.977.41l-20.478 21.104c-.515.53-.501 1.448.029 1.964l56.717 55.035c.531.516 1.45.501 1.965-.029l20.477-21.104c.516-.53.501-1.448-.03-1.964zm-100.423-150.007c0 45.304-36.856 82.16-82.16 82.16s-82.16-36.856-82.16-82.16 36.856-82.16 82.16-82.16 82.16 36.856 82.16 82.16zm-16 0c0-36.48-29.68-66.16-66.16-66.16s-66.16 29.68-66.16 66.16 29.68 66.16 66.16 66.16 66.16-29.68 66.16-66.16z" fill="#ffffff" data-original="#000000" class=""></path>
                                </g>
                            </svg>
                        </button>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/each}}
</div>