#certificatesPage {
    width: 100%;
    color: rgba(255, 255, 255, 0.95);

    h2 {
        margin-bottom: 20px;
        font-family: "SpectralSC-Regular";
        text-align: center;
    }

    .certificatesSection {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;

        .rowWrapper {
            background-image: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0),
                rgba(23, 23, 23, 1),
                rgba(23, 23, 23, 0)
            );
            padding: 1vw 1.5vw;

            h3 {
                // margin-left: 3vw;
                font-family: "SpectralSC-extra-light";
                font-weight: 400;
            }
    
            .certificatesRow {
                width: 100%;
                padding: 20px 0;
                margin: 0 0 20px;
                display: flex;
                overflow-x: auto;
                overflow-y: visible;
    
                .certificateSlot {
                    position: relative;
                    padding: 40px 10px;

                    &:hover .certificateContainer {
                        transform: scale(1.12, 1.12);
                    }

                    &:hover .zoomButton {
                        opacity: 1;
                    }

                    &:hover .certificateContainer .thumb_f,
                    &:hover .certificateContainer .thumb_b {
                        animation-name: testA;
                    }

                    &>svg {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: auto;
                        height: 100%;
                        transition-duration: .2s;
                    }

                    &:hover svg {
                        box-shadow: 0 0 4px 3px rgba(0, 0, 0, 1);
                    }

                    #line1 {
                        transition: 2s;
                    }

                    &:hover svg #line1 {
                        d: path("M 0,640 0,0 466,0");
                    }

                    &:hover svg #line2 {
                        d: path("M 0,640 466,640 466,0");
                    }
                    
                    .certificateContainer {
                        position: relative;
                        height: 100%;
                        height: 320px;
                        margin: 0 24px;
                        display: flex;
                        transition-duration: .2s;
        
                        .thumb_b,
                        .thumb_f {
                            left: 0;
                            width: auto;
                            height: 100%;
                            animation-duration: 10s;
                            animation-iteration-count: infinite;
                            animation-timing-function: linear;
                        }
        
                        .thumb_f {
                            position: relative;
                            transform: translate(-4%, -2.8%) rotateY(0deg);
                            backface-visibility: hidden;
                        }
                        
                        .thumb_b {
                            position: absolute;
                            left: 0;
                            top: 0;
                            transform: translate(4%, 2.8%) rotateY(180deg);
                            animation-delay: -5s;
                            backface-visibility: visible;
                        }
                    }

                    .zoomButton {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 8px 8px 6px 10px;
                        background-color: rgba(0, 0, 0, .7);
                        font-family: "SpectralSC-extra-light";
                        // font-style: italic;
                        font-size: 14px;
                        color: white;
                        transform: translate(10%, -50%);
                        transition-duration: .7s;
                        border-radius: 3px;
                        border: 1px solid rgba(66, 66, 66, 1);
                        box-shadow: 0 0 4px 3px rgba(0, 0, 0, 1);
                        opacity: 1;

                        &:hover {
                            color: white;
                        }

                        svg {
                            width: 24px;
                            height: auto;
                            box-shadow: 0 0 4px 3px rgba(0, 0, 0, 1);
                            background-color: black;
                        }
                    }
                }
            }
        }
    }
}

@keyframes testA {
    0%{
        transform: translate(-4%, -2.8%) rotateY(0deg);
        backface-visibility: hidden;
        z-index: 1;
    }
    48%{
        transform: translate(-0%, -0%) rotateY(0deg);
        backface-visibility: hidden;
        z-index: 1;
    }
    50%{
        transform: translate(4%, 2.8%) rotateY(180deg);
        backface-visibility: visible;
        z-index: 0;
    }
    98%{
        transform: translate(0%, 0%) rotateY(180deg);
        backface-visibility: visible;
        z-index: 0;
    }
    100%{
        transform: translate(-4%, -2.8%) rotateY(0deg);
        backface-visibility: hidden;
        z-index: 1;
    }
}

@keyframes testB {
    0%{transform: translate(4%, 2.8%);}
    100%{transform: translate(-4%, -2.8%);}
    // 0%{transform: translateX(0) rotateY(-180deg) scale(1, 1); }
    // 50%{transform: translateX(115%) rotateY(0deg) scale(1.15, 1.15); backface-visibility: visible;}
    // 100%{transform: translateX(115%) rotateY(0deg) scale(1.15, 1.15); backface-visibility: hidden;}
}