#certificatesPage {
    width: 100%;
    color: rgba(255, 255, 255, 0.95);

    h2 {
        margin-bottom: 20px;
        font-family: "SpectralSC-Regular";
        text-align: center;
    }

    .certificatesSection {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;

        .rowWrapper {
            background-image: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0),
                rgba(23, 23, 23, 1),
                rgba(23, 23, 23, 0)
            );
            padding: 1vw 1.5vw;

            h3 {
                font-family: "SpectralSC-extra-light";
                font-weight: 400;
            }
    
            .certificatesRow {
                width: 100%;
                padding: 20px 0;
                margin: 0 0 20px;
                display: flex;
                overflow-x: auto;
                overflow-y: visible;
    
                .certificateSlot {
                    position: relative;
                    padding: 40px 10px;

                    &:hover .certificateContainer {
                        transform: scale(1.12, 1.12);
                    }

                    &:hover .zoomButton {
                        opacity: 1;
                    }

                    &:hover .certificateContainer .thumb_f_container,
                    &:hover .certificateContainer .thumb_b_container {
                        animation-name: certificatesFlip;
                    }

                    &:hover .certificateContainer .thumb_f_container {
                        animation-name: certificatesFlip;
                    }
                   
                    .certificateContainer {
                        position: relative;
                        height: 320px;
                        margin: 0 24px;
                        transition-duration: .2s;
        
                        .thumb_f_container {
                            transform: translate(-4%, -2.8%) rotateY(0deg);
                            backface-visibility: hidden;
                        }

                        .thumb_b_container {
                            position: absolute;
                            left: 0;
                            top: 0;
                            animation-delay: -5s;
                            transform: translate(4%, 2.8%) rotateY(180deg);
                            backface-visibility: visible;
                        }

                        .thumb_f_container,
                        .thumb_b_container {
                            height: 320px;
                            display: flex;
                            animation-duration: 10s;
                            animation-iteration-count: infinite;
                            animation-timing-function: linear;

                            .thumb_b,
                            .thumb_f {
                                left: 0;
                                width: auto;
                                height: 100%;
                            }
                            
                            // .thumb_f {
                            //     position: relative;
                            //     // transform: translate(-4%, -2.8%) rotateY(0deg);
                            //     // backface-visibility: hidden;
                            // }
                            
                            // .thumb_b {
                                
                            //     // transform: translate(4%, 2.8%) rotateY(180deg);
                            //     animation-delay: -5s;
                            //     // backface-visibility: visible;
                            // }

                            #burnAnimation {
                            }
                        }
                    }

                    .zoomButton {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 8px 8px 6px 10px;
                        background-color: rgba(0, 0, 0, .7);
                        transform: translate(10%, -50%);
                        transition-duration: .7s;
                        border-radius: 3px;
                        border: 1px solid rgba(66, 66, 66, 1);
                        box-shadow: 0 0 4px 3px rgba(0, 0, 0, 1);
                        opacity: 1;

                        &:hover {
                            color: white;
                        }

                        svg {
                            width: 24px;
                            height: auto;
                            box-shadow: 0 0 4px 3px rgba(0, 0, 0, 1);
                            background-color: black;
                        }
                    }
                }
            }
        }
    }
}

@keyframes certificatesFlip {
    0%{
        transform: translate(-4%, -2.8%) rotateY(0deg);
        backface-visibility: hidden;
        z-index: 1;
    }
    48%{
        transform: translate(-0%, -0%) rotateY(0deg);
        backface-visibility: hidden;
        z-index: 1;
    }
    50%{
        transform: translate(4%, 2.8%) rotateY(180deg);
        backface-visibility: visible;
        z-index: 0;
    }
    98%{
        transform: translate(0%, 0%) rotateY(180deg);
        backface-visibility: visible;
        z-index: 0;
    }
    100%{
        transform: translate(-4%, -2.8%) rotateY(0deg);
        backface-visibility: hidden;
        z-index: 1;
    }
}

@keyframes test1 {
    0%{d: path("M 0,640");}
    100%{d: path("M 0,640 0,0 466,0");}
}

@keyframes test2 {
    0%{d: path("M 0,640");}
    100%{d: path("M 0,640 466,640 466,0");}
}