{{!-- <img class="logo" src="./assets/gfx/img/roza2.png" alt=""> --}}
<p class="headerGhostTitle">{{title}}</p>
<h1 class="headerTitle">{{title}}</h1>

<nav>
    <div class="navSections navSectionL">
        <p class="navSectionTitle navSectionTitleL">MORE INFO</p>

        <button class="navButtons navSectionLButton navSectionLButton1" data-section="cvSection1">C.V. Part 1</button>
        <button class="navButtons navSectionLButton navSectionLButton2" data-section="cvSection2">C.V. Part 2</button>
        <button class="navButtons navSectionLButton navSectionLButton3" data-section="certificatesSection">Certificates</button>
    </div>

    <button class="navButtons navButtonMain" data-section="mainSection">
        <span class="navButtonMainText">MAIN</span>
    </button>

    <div class="navSections navSectionR">
        <p class="navSectionTitle navSectionTitleR">PROJECTS</p>

        <button class="navButtons navSectionRButton navSectionRButton1" data-section="links">Links</button>
        <button class="navButtons navSectionRButton navSectionRButton2" data-section="projects">PROJECTS</button>
    </div>
</nav>

<hr class="hrTop">