<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Triple K</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Portfolio">
</head>
<body>
	<canvas class="mainCanvas"></canvas>

	<div class="pageContainer">
		<header>
			<img class="logo" src="assets/gfx/img/roza2.png" alt="">
			<h1 class="headerTitle">KAMEN KASHCHIEV</h1>
			<h1 class="headerTitle2">KAMEN KASHCHIEV</h1>
			
			<nav>
				<div class="navSections navSectionL">
					<p class="navSectionTitle navSectionTitleL">MORE INFO</p>

					<button class="navButtons navSectionLButton navSectionLButton1" data-section="cvSection1">C.V. Part 1</button>
					<button class="navButtons navSectionLButton navSectionLButton2" data-section="cvSection2">C.V. Part 2</button>
					<button class="navButtons navSectionLButton navSectionLButton3" data-section="certificatesSection">Certificates</button>
				</div>

				<button class="navButtons navButtonMain" data-section="mainSection">
					<span class="navButtonMainText">MAIN</span>
				</button>

				<div class="navSections navSectionR">
					<p class="navSectionTitle navSectionTitleR">PROJECTS</p>

					<button class="navButtons navSectionRButton navSectionRButton1" data-section="links">Links</button>
					<button class="navButtons navSectionRButton navSectionRButton2" data-section="projects">PROJECTS</button>
				</div>
			</nav>
			
			<hr class="hrTop">
		</header>

		<main></main>

		<footer>
			<hr class="hrBottom">
			<p class="footerText"></p>
		</footer>
	</div>
</body>
</html>